<!DOCTYPE html>
<html lang="de">

<head>
    <title>Niels Fallenbeck</title>

    <meta charset="utf-8">
    <link rel="canonical" href="https://fallenbeck.com/">
    <link rel="shortcut icon" href="https://fallenbeck.com/favicon.ico">
    <meta name="color-scheme" content="dark light">
    <link rel="stylesheet" type="text/css" href="css/cno.css" media="screen">

    <meta name="description" content="Niels Fallenbeck's personal home page">

    <meta name="robots" content="index, follow">

    <!-- Social networks -->
    <link rel="me" href="https://chaos.social/@fallenbeck">

    <meta name="og:title" property="og:title" content="Niels Fallenbeck's personal home page">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://fallenbeck.com">
    <meta property="og:locale" content="de_DE">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:image" content="https://fallenbeck.com/images/fist_bump.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@fallenbeck">
    <meta name="twitter:creator" content="@fallenbeck">
</head>

<body>
    <div class="row">
        <div class="column left">
            <img src="images/fist_bump.png" alt="Hello, world.">
        </div>
        <div class="column right">
            <div class="content">
                <div class="post">
                    <div class="headline">
                        Techniker ist informiert!
                    </div>

                    <div class="meta">
                        Donnerstag, 27. Juli 2023
                    </div>

                    <div class="text">
                        <p>
                        Es ist einige Zeit her, dass ich meine alte
                        Wordpress-Installation und meine auf PHP basierende
                        Webseite durch eine einzelne statische HTML-Datei
                        ersetzt habe.
                        </p>

                        <p>
                        Ebenso lange vermisse ich mein Blog.
                        Ich habe meine Webseite nicht neu erstellt, weil
                        ich nicht mehr bloggen wollte; dies hatte ausschließlich
                        technische Gründe. Die Aussicht auf die Installation
                        eines neuen Servers und auf die
                        Fingerübung, ein eigenes Tool zur Erstellung und
                        Veröffentlichung (m)einer (neuen) Seite zu schreiben,
                        hatten mich motiviert, Wordpress abzuschalten, lange
                        bevor ich eine neue Möglichkeit hatte, Texte auf meine
                        Webseite zu stellen.
                        </p>

                        <p>
                        Ich wurde von einer Zeitknappheit überrascht, die all
                        dies weiter in die Länge gezogen hat, als es
                        ursprünglich geplant war.
                        </p>

                        <p>
                        Es wird vielleicht knarzen, möglicherweise ist sogar
                        etwas kaputt. Das allerdings gehört zum Bauen dazu.
                        Es wird Neues geben.
                        Ich habe Pläne.
                        Nur Zeit habe ich keine.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
