<!DOCTYPE html>
<html lang="de">

<head>
    <title>Niels Fallenbeck</title>

    <meta charset="utf-8">
    <link rel="canonical" href="https://fallenbeck.com/">
    <link rel="shortcut icon" href="https://fallenbeck.com/favicon.ico">
    <meta name="color-scheme" content="dark light">
    <link rel="stylesheet" type="text/css" href="css/cno.css" media="screen">

    <meta name="description" content="Niels Fallenbeck's personal home page">

    <meta name="robots" content="index, follow">

    <!-- Social networks -->
    <link rel="me" href="https://chaos.social/@fallenbeck">

    <meta name="og:title" property="og:title" content="Niels Fallenbeck's personal home page">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://fallenbeck.com">
    <meta property="og:locale" content="de_DE">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:image" content="https://fallenbeck.com/images/fist_bump.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@fallenbeck">
    <meta name="twitter:creator" content="@fallenbeck">
</head>

<body>
    <div class="row">
        <div class="column left">
            <a href="index.html">
                <img src="images/fist_bump.png" alt="Hello, world.">
            </a>
        </div>
        <div class="column right">
            <div class="content">
                <div class="post">
                    <div class="headline">
                        <a href="{{ outfile }}">
                            {{ title }}
                        </a>
                    </div>

                    <div class="meta">
                        {{ date }}
                    </div>

                    <div class="text">
                        {{ text }}
                    </div>
                </div>

                <div class="navigation">
                    <div class="left">
                        {% if prev %}
                        <a href="{{ prev.outfile }}">
                            &larr; {{ prev }}
                        </a>
                        {% endif %}
                    </div>

                    <div class="right">
                        {% if next %}
                        <a href="{{ next.outfile }}">
                            {{ next }} &rarr;
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
